<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Titanic Survival Prediction</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1 class="title">Titanic Survival Prediction</h1>

    <form action="/predict" method="post">

        <div class="req">

            <input type="text"
                   name="Pclass"
                   placeholder="Pclass"
                   required>

            <input type="text"
                   name="Age"
                   placeholder="Age"
                   required>

            <input type="text"
                   name="Fare"
                   placeholder="Fare"
                   required>

            <input type="text"
                   name="Sex_male"
                   placeholder="Sex_male"
                   required>

            <input type="text"
                   name="Name_Miss"
                   placeholder="Name_Miss"
                   required>

            <input type="text"
                   name="Name_Mr"
                   placeholder="Name_Mr"
                   required>

            <input type="text"
                   name="Name_Mrs"
                   placeholder="Name_Mrs"
                   required>

            <input type="text"
                   name="Name_rare"
                   placeholder="Name_rare"
                   required>

            <input type="text"
                   name="Embarked_Q"
                   placeholder="Embarked_Q"
                   required>

            <input type="text"
                   name="Embarked_S"
                   placeholder="Embarked_S"
                   required>

            <input type="text"
                   name="Family_Members"
                   placeholder="Family_Members"
                   required>

            <input type="text"
                   name="IsAlone"
                   placeholder="IsAlone"
                   required>

        </div>

        <button type="submit">
            Predict Survival
        </button>

    </form>

    {% if result %}
        <div class="result">
            Prediction: {{ result }}
        </div>
    {% endif %}

</body>
</html>